<html>
    <head>
        <title>Dash Board</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

        <style>
            a:hover{
                text-decoration: none;
            }
            .font{
                font-family: 'Poppins'
            }
        </style>
    </head>
    <body style="background-color: #343A40;">
        <!-- NAVBAR STARTS -->

        <nav class="navbar navbar-expand-lg site-header sticky-top py-1"  style= "background-color: #beebe9">
     
            <div class="container d-flex flex-column flex-md-row justify-content-between">
              <a class="py-2" href="/" aria-label="Product">
                <img src="images/logo.png" style="height: 40px; margin-top: -5px"/><b><span style="margin-left: -17%;vertical-align: text-top; color: black; ">ESINO</span></b>

              </a>
              <span style="color: grey; font-size: 25px " >|</span>
              <a class="py-2 d-none d-md-inline-block font" href="/register"> Register </a> <span style="color: grey; font-size: 25px " >|</span> 
              <a class="py-2 d-none d-md-inline-block font" href="/team"> Meet our team </a> <span style="color: grey; font-size: 25px " >|</span> 
              <a class="py-2 d-none d-md-inline-block font" href="/logout"> Logout </a>

            </div>
          </nav>

      <!-- NAVBAR ENDS -->
        <div style="margin: 10; font-family: 'Poppins'">
            <div class="container col-md-9 shadow-lg mb-4 mt-4" style=" border-radius: 25px; padding: 30px; background-color: snow">
                <h3 id="heading" style="text-align: center; font-family: 'Poppins'">Welcome <span id="user" style="text-transform: capitalize">User</span> </h3>
                <hr>
                <u><h4>Furnish Your Data</h4></u>
            <h5>Enter SPI for Sem &nbsp; 
                <select name="sem" id="sem">

                </select>  : 
                <input type="number" id='spi'>
                <button type="button" class="btn btn-primary" id="submit_spi"> Submit </button>
            </h5>

            <button type="button" class="btn btn-primary" id='marks'>Enter marks (in exam)</button><br>
            <hr>
             <h4><u>Performance Report</u></h4><br>

            <div class="dropdown">
                <button class="btn btn-primary" type="button" id="sess_charts">
                  View Sessional Performance
                </button>
            </div>
            <br>
            <div class="dropdown">
                <button class="btn btn-primary" type="button" id="ext_charts">
                  View External Performance
                </button>
            </div>
            <br>
            <!-- <button type="button" class="btn btn-primary" id='sem_wise'>View Semester-wise progress</button><br><br> -->

            <button type="button" class="btn btn-primary" id='sem_avg'>View Semester-wise average</button><br><br>
            
                <button class="btn btn-primary" type="button" id="each_sess_avg">
                  View Sessional-wise average
                </button>
                <div class="chart-container" style="position: absolute; height:30vh; width:40vw; margin-top: -27%; margin-left: 35%">
                        <canvas id="semester-cpi"></canvas>
                </div>
            
        </div>
        </div>
        <!-- footer-->
      
        <footer class="font" style="padding: 10px; text-align:center;  background-color: #beebe9; width: 100%; height: 90px;">
            <p style="padding-top: 5">Thank you      <a href="/">   Resino    </a> by   <a href="https://www.csiddu.in" target="_blank">  @csi  </a>  . </p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </footer>
      
      <!-- footer ends-->
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script>
        $(document).ready( function(){
            $("#submit_spi").click(function(){
                // console.log(document.getElementById("sem").value)
                // console.log(document.getElementById("spi").value)
                if (document.getElementById('sem').value=="" )
                    alert("Select semester")
                else if (document.getElementById("spi").value=="" )
                    alert("Enter valid input")
                else if (document.getElementById("spi").value<0 || document.getElementById("spi").value>10 )
                    alert("Enter valid SPI");
                else
                {
                    // console.log( document.getElementById("spi").value + " " +  document.getElementById("sem").value )
                    let param = new URLSearchParams(window.location.search)
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:3000/add_spi",
                        data: {
                            ID : param.get("ID"),
                            sem : document.getElementById("sem").value,
                            spi : document.getElementById("spi").value
                        },
                        success: function(result){
                            console.log(JSON.stringify(result));
                            alert("SPI added")
                            location.reload()
                        },
                        failure: function(err){
                            console.log(err);
                        }
                    })
                }
            })
        })
    </script>
    <script>
        $(document).ready( function(){
            let param = new URLSearchParams(window.location.search)
            var branch
            $.ajax({
                type: "GET",
                url: "http://localhost:3000/current_user",
                success: function(result){
                    if (result.length > 0)
                    {
                        console.log(result[0])
                        document.getElementById("user").innerHTML = result[0].name
                        branch = result[0].branch
                        batch = result[0].Batch

                        var today = new Date();
                        var year = today.getFullYear()
                        var month = today.getMonth() + 1
                        var semester = (year - result[0].Batch) * 2
                        if (month>6)
                            semester+=1;
                        var selectHTML;
                        $("#sem").empty();
                        $("#sem").append("<option value=''>--select--</option>")
                        for (let i = 1; i < semester; i++) 
                        {
                            selectHTML = "<option value='"+i+"'>"+ i +"</option>";
                            $("#sem").append(selectHTML);
                        }
                    }
                    else
                    {
                        console.log("user not registered")
                        window.location.href = '/login'
                    }
                }
            })

            $("#marks").click(function(){
                console.log("btn clicked")
                window.location.href = "/enter_marks"
            })
            $("#sess_charts").click(function(){
                console.log("btn clicked")
                window.location.href = "/sess_charts?sem=1"
            })
            $("#ext_charts").click(function(){
                console.log("btn clicked")
                window.location.href = "/ext_charts?sem=1"
            })
            $("#sem_wise").click(function(){
                console.log("btn clicked")
                window.location.href = "/sem_wise"
            })
            $("#sem_avg").click(function(){
                console.log("btn clicked")
                window.location.href = "/sem_avg?branch=" + branch
            })

            $("#each_sess_avg").click(function(){
                console.log("btn clicked")
                window.location.href = "/each_sess_avg?sem=1&branch=" + branch
            })
        })
    </script>

<script>
        $(document).ready( function(){
            let param = new URLSearchParams(window.location.search)
            var subjects = new Set([])
            var sems = new Set([])
            var marks_sess_1 = []
            var marks_sess_2 = []
            var marks_sess_3 = []
            var sub = []
                $.ajax({
                    type: "POST",
                    url: "http://localhost:3000/sem_wise_charts",
                    dataType: "json",
                    data: {
                        ID : param.get('ID')
                    },
                    success: function(result){
                        if (result.length > 0)
                        {
                            console.log(result)
                            let sems = []
                            let spi = []
                            for ( let i=0 ; i<result.length ; i++ )
                                sems.push(result[i].sem)
                            
                            sems.sort()
                            console.log(sems);
                            for ( let i=0 ; i<sems.length ; i++ )
                            {
                                for ( let j=0 ; j<result.length ; j++ )
                                {
                                    if ( sems[i]==result[j].sem )
                                        spi.push(result[j].spi)
                                }
                            }
                            console.log(spi);
                            
                            var ctx = document.getElementById('semester-cpi').getContext('2d');
                            var chart = new Chart(ctx, {
                                // The type of chart we want to create
                                type: 'line',
    
                                // The data for our dataset
                                data: {
                                    labels: sems,
                                    datasets: [{
                                        label: 'My_SPI',
                                        borderColor: 'rgb(255, 99, 132)',
                                        data: spi
                                        }],
                                },
                                options: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        top: 0,
                                        bottom: 0
                                    },
                                    legend: {
                                        display: true,
                                        labels: {
                                            fontColor: 'rgb(255, 99, 132)'
                                        }
                                    },
                                    responsive: true,
                                    
                                }
                            });
                            
                        }
                        else
                        {
                            alert("SPI not entered")
                            window.location.href = '/dashboard?ID=' + param.get('ID')
                        }
                    }
                })
    })
    
    </script>

</html>