<html>
	<head>
		<title>
			Resino - HOME
    </title>
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<style>
  .blog-footer {
		padding: 1rem 0;
		text-align: center;
		background-color: #beebe9;
		border-top: .05rem solid #e5e5e5;
		}
.blog-footer p:last-child {
		margin-bottom: 0;
		}
    .bg-img{
      background-image: url("https://image.freepik.com/free-photo/education-concept-students-studying-brainstorming-campus-concept-close-up-students-discussing-their-subject-books-textbooks-writing-notebook-selective-focus_1418-1221.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
	  }
	  
	  .font{
				font-family: 'Poppins';
				
	  }

	  .center{
		  text-align: center;
		  }

      .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
a:hover{
  text-decoration: none
}
	
</style>
  
	</head>
	
	<body style="overflow-x: hidden">

        <!-- NAVBAR STARTS -->

        <nav class="navbar navbar-expand-lg site-header sticky-top py-1"  style= "background-color: #beebe9">
     
          <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="/" aria-label="Product">
              <img src="images/logo.png" style="height: 40px; margin-top: -5px"/><b><span style="margin-left: -17%;vertical-align: text-top; color: black; ">ESINO</span></b>
            </a>
            <span style="color: grey; font-size: 25px " >|</span>
            <a class="py-2 d-none d-md-inline-block font" href="/register"> Register </a> <span style="color: grey; font-size: 25px " >|</span> 
            <a class="py-2 d-none d-md-inline-block font" href="/team"> Meet our team </a> <span style="color: grey; font-size: 25px " >|</span> 
            <a class="py-2 d-none d-md-inline-block font" href="/login"> Login </a>
            
          </div>
        </nav>

      <!-- NAVBAR ENDS -->

      <!-- 	MAIN STARTS -->

      <main role="main" style="font-family: 'Poppins'" >
        <div class="jumbotron" style= "background-color: #343A40; color: white">
          <div class="container">
            <h4 class="display-4">Welcome to our Result Analysis Engine...</h4>
                <h4> LET'S WREAK HAVOC...	</h4>  
          </div>
        </div>
      </main>
      
    <!-- MAIN ENDS -->
    <p class="text-center display-3" style="font-size:40px; font-family: 'Poppins'"> What do you desire ?</p>

    <div class="bg-img">
      
        <div id="container" class="ct"> 
          <div class="row">
            
                <form class="col col-md-6 mt-4 mb-5 align-self-center offset-md-3" action="url/to/submit" method="post">
                
                  <div class="center" >
                    <h3>
                      <span class="label label-warning" style="font-family: 'Poppins'">  <strong>Marks Predictor </strong></span>
                    </h3>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="number" class="form-control" id="s1" placeholder="Sessional 1">
                    </div>
                    
                    <div class="form-group col-md-4">
                        <input type="number" class="form-control" id="s2" placeholder="Sessional 2">
                    </div>
                    
                    <div class="form-group col-md-4">
                        <input type="number" class="form-control" id="s3" placeholder="Sessional 3">
                    </div>
                  </div>
                  <div class="center">
                    <div class="form-group">
                      <label for="exampleFormControlInput1"> 
                        <h3>                    
                          <span class="label label-warning"> 
                            <strong style="font-family: 'Poppins'"> Practial Marks </strong>
                          </span>
                        </h3>
                      </label>
                    </div> 
                    <input type="number" class="form-control" id="pr" placeholder="out of 50" required>
                  </div><br>
                  
                  <button type="button" class="btn btn-success collapsible" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="text-align: center; background-color: #367E35;" onclick="predict()" >Predict</button>
                  
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">Graph Prediction</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                              <h6><b>Assumption:</b> Your attendence is 100% :)</h6>
                              <h6><b>+ve:</b> Minimum marks required to reach that CPI</h6>
                              <h6><b>-ve:</b> You cannot achieve that CPI</h6>
                              <canvas id="graph"></canvas>
                               <p id="err"></p> 
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
                              <!-- <button type="button" class="btn btn-primary">Save</button> -->
                          </div>
                            <script>
                              function predict(){
                              var s1=document.getElementById("s1").value;
                              var s2=document.getElementById("s2").value;
                              var s3=document.getElementById("s3").value;
                              var pr=document.getElementById("pr").value;
                              s1=parseInt(s1,10);
                              s2=parseInt(s2,10);
                              s3=parseInt(s3,10);
                              pr=parseInt(pr,10);
                              if ( isNaN(s1) )
                              {
                                alert("Enter Sessional 1 Marks");
                                location.reload();
                              }
                              else if ( isNaN(s2) )
                              {
                                alert("Enter Sessional 2 Marks");
                                location.reload();
                              }
                              else if ( isNaN(s3) )
                              {
                                alert("Enter Sessional 3 Marks");
                                location.reload();
                              }
                              else if ( isNaN(pr) )
                              {
                                alert("Enter Practical Marks");
                                location.reload();
                              }
                              //var viva=document.getElementById("viva").value;
                              
                              if((s1<0 || s1>36) || (s2<0 || s2>36) || (s3<0 || s3>36) || (pr<0 || pr>50)){
                                if(s1<0 || s1>36){
                                    
                                    document.getElementById("err").innerHTML="Error: Enter the sessional 1 marks in range 0 to 36";
                                }
                                else{
                                  if(s2<0 || s2>36){
                                    document.getElementById("err").innerHTML="Error: Enter the sessional 2 marks in range 0 to 36";

                                  }
                                  else{
                                    if(s3<0 || s3>36){
                                      document.getElementById("err").innerHTML="Error: Enter the sessional 3 marks in range 0 to 36";

                                    }
                                    else{
                                      if((pr<0 || pr>36)){
                                        document.getElementById("err").innerHTML="Error: Enter the practical marks in range 0 to 50";

                                      }
                                    }
                                  }                       
                                }
                              }else{
                                document.getElementById("err").innerHTML = "";
                                var ten=127-((s1+s2+s3)/3 + 4 + pr);
                                var nine=112-((s1+s2+s3)/3 + 4 + pr);
                                var eight=92-((s1+s2+s3)/3 + 4 + pr);
                                var seven=80-((s1+s2+s3)/3 + 4 + pr);
                                var six=70-((s1+s2+s3)/3 + 4 + pr);

                                if(ten<0)
                                  ten=0;
                                if(nine<0)
                                  nine=0; 
                                if(eight<0)
                                  eight=0;
                                if(seven<0)
                                  seven=0;
                                if(six<0)
                                  six=0;

                                if(ten>60)
                                  ten=-20;
                                if(nine>60)
                                  nine=-20; 
                                if(eight>60)
                                  eight=-20;
                                if(seven>60)
                                  seven=-20;
                                if(six>60)
                                  six=-20;
                                list=[];
                              /// list.append(ten);
                              // console.log(list);
                                var ctx2 = document.getElementById('graph').getContext('2d');
                                var chart2 = new Chart(ctx2, {
                                  type: 'bar',
                      
                                  data: {
                                      labels: [6,7,8,9,10], 
                                      datasets: [{
                                          label: 'Required External Marks',
                                          backgroundColor: "rgba(200,0,0,0.2)",
                                          data: [six,seven,eight,nine,ten]   //marks
                                      }]
                                  },
                                  hover: {
                                    mode: 'label'
                                  },
                                  options: {
                                    scales: {
                                        xAxes: [{
                                                display: true,
                                                scaleLabel: {
                                                    display: true,
                                                    labelString: 'Pointer'
                                                }
                                            }],
                                        yAxes: [{
                                                display: true,
                                                ticks: {
                                                    //beginAtZero: true,
                                                    steps: 5,
                                                    stepValue: 5,
                                                    max: 60
                                                }
                                          }]
                                      },
                                      title: {
                                          display: true,
                                          
                                      }
                                  }
                                });
                              }}
                              
                          </script>
                            
                        </div>
                    </div>
                  </div>
                  
                  
                  <script>
                    var coll = document.getElementsByClassName("collapsible");
                    var i;
                    
                    for (i = 0; i < coll.length; i++) {
                      coll[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                          content.style.display = "none";
                        } else {
                          content.style.display = "block";
                        }
                      });
                    }
                    </script>
                </form>
              
            </div>
          </div>
        </div>
      
    </div>
            

    <!-- REGISTER -->

        <div class="text-center mt-4" style="font-family: 'Poppins'">
              <h3>To Know More...</h3>
              <h3><a href="/register">  <button type="button" class="btn btn-primary font-size: 30px"> REGISTER YOURSELF HERE!!! </button> </a> </h3>
            
              </div>
        </div>
            
    <!-- REGISTER ENDS -->
      
        <br>
        <br>
      
      <!-- footer-->
      
      <footer class="blog-footer font" style="text-align:center;" >
        <p>Thank you      <a href="/">   Resino    </a> by   <a href="https://www.csiddu.in" target="_blank">  @csi  </a>  . </p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </footer>
      
      <!-- footer ends-->

    <!-- Bootstrap JS -->

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
	</body>
</html>